name: "CI in Container"
on: [push]

jobs:
  check_pr:
    container:
      image: node:12
    steps:
    - uses: actions/checkout@v1

    - name: "node version"
      run: node --version

    - name: "npm ci"
      run: npm ci

    - name: "npm run build"
      run: npm run build

    - name: "npm run test"
      run: npm run test