name: "CI in docker"
on: [push]

jobs:
  check_pr:
    strategy:
      matrix:
        tag: [10, 12, lts]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    # with: args:でdocker内でコマンドを実行できることは https://github.com/actions/migrate/blob/1ea00e246e24e694f2d3d6c269c964d61548c89d/fixtures/action-args-runs/.github/workflows/push.yml 参照
    - name: "node version"
      uses: docker://circleci/node:10
      with:
        args: node --version

    - name: "whoami"
      uses: docker://circleci/node:10
      with:
        args: whoami

    - name: "sudo whoami"
      uses: docker://circleci/node:10
      with:
        args: sudo whoami

    - name: "npm ci"
      uses: docker://circleci/node:10
      with:
        args: sudo npm ci

    - name: "npm run build"
      uses: docker://circleci/node:10
      with:
        args: npm run build

    - name: "npm run test"
      uses: docker://circleci/node:10
      with:
        args: npm run test

    - name: "check format"
      uses: docker://circleci/node:10
      with:
        args: npm run format-check

    - name: "check for uncommitted changes"
      uses: docker://circleci/node:10
      # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
      with:
        args: |
          git diff --exit-code --stat -- . ':!node_modules' \
          || (echo "##[error] found changed files after build. please 'npm run build && npm run format'" \
                  "and check in all changes" \
              && exit 1)
