name: "CI in VM"
on: [push]

jobs:
  check_pr:
    strategy:
      matrix:
        node: [10.x, 12.x]
        os: [ubuntu-18.04, ubuntu-16.04]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Setup node version
      uses: actions/setup-node@master
      with:
        version: ${{ matrix.node }}

    - run: whoami
    - run: uname -a
    - run: env

    - name: "node version"
      run: node --version

    - name: "npm ci"
      run: npm ci

    - name: "npm run build"
      run: npm run build

    - name: "npm run test"
      run: npm run test

    - uses: actions/upload-artifact@master
      with:
        name: test-report
        path: report/

    - name: "check format"
      run: npm run format-check

    - name: "check for uncommitted changes"
      # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
      run: |
        git diff --exit-code --stat -- . ':!node_modules' \
        || (echo "##[error] found changed files after build. please 'npm run build && npm run format'" \
                 "and check in all changes" \
            && exit 1)
