name: "Docker in Docker"
on: [push]

jobs:
  docker_build_and_run_self:
    runs-on: ubuntu-latest
    container:
      image: docker
    steps:
    - uses: actions/checkout@v1

    - run: whoami
    - run: uname -a
    - run: env

    # build image using "docker in docker"
    - run: docker build -t self_build .

    # you can run built image
    - run: docker run self_build

  # if you enable github package registory beta program,
  # you can use image built and pushed before job maybe I think.
  # docker_run_self:
  #   needs: docker_build
  #   runs-on: ubuntu-latest
  #   container:
  #     image: docker.pkg.github.com/Kesin11/docker.github_actions_matrix_js_sandbox/github_actions_matrix_js_sandbox:latest

  #   steps:
  #     - run: node --version
